[Desktop Entry]
Version=1.0
Type=Application
Name=QuPath
Comment=Bioimage analysis (QuPath {{ qupath_version }})
Exec={{ qupath_link }}/bin/QuPath %F
Icon={{ qupath_link }}/lib/QuPath.png
Terminal=false
Categories=Science;ImageProcessing;
MimeType=application/x-qupath-project;
StartupWMClass=QuPath
