[Desktop Entry]
Version={{ qupath_version }}
Type=Application
Name=QuPath {{ qupath_version }}
Comment=Software for bioimage analysis
Exec=/opt/QuPath/bin/QuPath %F
Icon=/opt/QuPath/lib/QuPath.png
Terminal=false
Categories=Science;ImageProcessing;Biology;
MimeType=application/x-qupath-project;
StartupWMClass=QuPath