[Desktop Entry]
Type=Application
Name=Pixi {{ item }}
Comment=Launch {{ item }} pixi environment
Exec=sh -c "cd {{ ai_tools_dir }}/{{ item }} && pixi shell"
Terminal=true
Categories=Development;Science;
Icon=utilities-terminal
StartupNotify=true
